@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#fejlec{
    background-color: var(--fejlec-hatter);
    background-image: url("../kepek/hatter.jpg");
    background-repeat:repeat-x;
}

#nav{
background-color:var(--fejlec-nav-hatter);
opacity: 90%;
}

#focim{
  color: #ddd;
  text-align: center;
}

#fejlec :is(ul, li) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0px;
    padding-right: 0px;
}
body {
    color: var(--betuSzin);
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.aktiv{
    background-color:var(--fejlec-gomb-aktiv);
    color: var(--betuSzin);
    padding: 16px;
    font-size: 16px;
    border: none;
}

.aktiv a {text-decoration: none;}

#fejlec :visited{
    color: var(--betuSzin);
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn {
    background-color: var(--fejlec-gomb-alap);
    color: var(--betuSzin);
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropbtn :hover{
    background-color: var(--fejlec-gomb-lebeg);
    color: var(--betuSzin);
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropbtn a{
    color: var(--betuSzin);
    font-size: 16px;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: var(--betuSzin);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: var(--hatterSzin);}