#fejlec{
    background-color: gray;
    background-image: url("../placeholder/placeholder-1-e.png");
    background-repeat:no-repeat;
    height: 600pt;
}

#fejlec :is(ul, li) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10pt;
    padding-right:10pt;
}
body {
    color: goldenrod;
}
.aktiv-link{
    background-color:lime;
    
}

